@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.slider-thumb::-webkit-slider-thumb {
    pointer-events: auto;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #1d4ed8; /* blue-600 */
    border-radius: 50%;
    cursor: pointer;
}

.slider-thumb::-moz-range-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    background: #1d4ed8;
    border-radius: 50%;
    cursor: pointer;
}


